# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.Final_Project_GI244_AwoGRR.iml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
